body{
    font-family:'Roboto', sans-serif;
    background: #EFEFF0;
}
section{
    margin: 10%;
    border: solid;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: none;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav ul li {
      float:left
  }
  nav ul li a{
      display: block;
      padding: 8px;
      background-color: #EAFFFD;
      text-decoration: none;
  }
  nav ul li a:hover{
      background-color: #C9F0FF;
  }
nav ul li a:visited{
    color: black;
}
nav ul li a:link{
    color: black;
}
h1{
    text-align: center;
}
h1:hover{
    color: red;
}
.section_title{
    text-align: center;
}
.my_image{
    border-radius: 200%;
    margin-top: 15px;
    margin-bottom: 28px;
    margin-left: 258px;
}
table{
    width: 100%;
}
th, td {
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
th{
    background-color: #EAFFFD;
    color: black;
}
#video_description{
    text-decoration: underline;
}
iframe{
    border: solid;
}
#githubLogo{
    border-radius: 200%;
}
form{
    max-width: 600px;

}
.User-input{
    padding-right: 20%;
}
#submit{
    color: black; 
    background:#EAFFFD;
    cursor: pointer;
    border-radius: 8px;
}
#submit:hover{
    background: #C9F0FF;
}
label{
    text-decoration: underline;
}
textarea , input{
    border-radius: 10px;
    margin: 1% 0% 1% 0%;
}
footer{
    text-align: center;
}
footer a{
    padding: 5% ;
}

.cont{
    background-image: url("https://st2.depositphotos.com/1265075/7446/i/600/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg");
}
